<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <style>
        body,html{
            height: 100%;
        }

        div.background {
          background: url(https://miro.medium.com/max/1920/1*E9L3pbc6h-sD33--75ITDw.jpeg);
          background-size: cover;
          height:100%;
        }
        
        div.transbox {
          margin: 30px;
          background-color: #ffffff;
          border: 1px solid black;
          opacity: 0.6;
        }
        
        div.transbox p {
          margin: 5%;
          font-weight: bold;
          color: #000000;
        }
        </style>
  </head>


  <body>
    
    <div class="background">
      
    <br> <br> <br> <br>
    <br> <br> <br> <br>
    <br>
    <h1 style="text-align:center; font-family: Lato; font-weight: 300;color: #ffffff;">Welcome To Travel Agencies!</h1>
    <h1 style="text-align:center; font-family: Lato; font-weight: 400;color: #ffffff;">Start Your Holiday Here!</h1>
    <br>
    <br>
    <div style ="text-align:center">
      <a href="/user/register"><button type="submit" Style="background-color: rgb(0, 0, 0);
        border: none;
        color: rgb(255, 209, 4);
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        font-family: Lato;
        font-weight: 700;
      cursor: pointer;">SIGN UP</button></a>
      <a href="/user/login"><button type="submit" Style="background-color: rgb(0, 0, 0);
        border: none;
        color: rgb(255, 209, 4);
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        font-family: Lato;
        font-weight: 700;
      cursor: pointer;">LOGIN</button></a>
      
    </div>
    </div>


  </body>
</html>