<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TravelAgencies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= page === 'home' ? 'active' : '' %>">
            <a class="nav-link" href="/"> Homepage <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item <%= page === 'students' ? 'active' : '' %>">
          <a class="nav-link" href="/students"> Sign Up <span class="sr-only">(current)</span></a>
        </li>
        <li class=" nav-item <%= page === 'teachers' ? 'active' : '' %> ">
            <a class="nav-link" href="/teachers"> Login <span class="sr-only">(current)</span></a>
          </li>
      </ul>
    </div>
  </nav> 