<nav class="navbar-toggler-center fixed-bottom navbar-light bg-transparent">
  <form class="form-inline">
   <a href="/admin/login"> <button class="btn btn-dark" type="button">Admin login</button></a>
  </form>
</nav>